<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a 6-sided die.</p>

  <form method="post" id="roll">
    <input type="submit" value="Roll the Die">
  </form>

  <div id="die">
      <img src="1.png" title="1" alt="the roll" id="die_pic">
  </div>

</div>
